.modal_wrapper {
  width: 1260px;
  height: 467px;
  overflow: hidden;
}

.modal {
  background: white;
  height: 100%;
  width: 100%;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 26px;
  gap: 48px;
}

.foto {
  width: 468px;
  height: 414px;

  border-radius: 10px 0 0 10px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 34px;
}

.text_top {
  display: flex;
  justify-content: space-between;
}

.top_header {
  font-size: 26px;
  font-weight: 600;
  line-height: 30px;
  color: #000;
}

.top_par {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  color: #989898;
}

.text_mid {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  color: #989898;
}

.text_bottom {
  display: flex;
  justify-content: space-between;
}

.text_price {
  font-size: 26px;
  font-weight: 600;
  line-height: 30px;
  color: #000;
}

.modal_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
