.wrapper {
  max-width: 1260px;
  /* border: 1px solid black; */

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bg {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  z-index: -100;
}

.main {
  height: 548px;
}

.text {
  margin-top: 127px;
  max-width: 776px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */

  gap: 20px;
}

.text_header {
  font-size: 80px;
  font-weight: 600px;
  line-height: 57px;
  color: #fff;
}

.text_par {
  font-size: 20px;
  font-weight: 400px;
  line-height: 30px;
  color: #fff;
}

.net {
  height: 147px;
}
